extends layout

block append content
  if error
    h3= error
  if username
    p You are currently logged in as #{ username }
      form(method="post" action="/logout")
        input(type="submit" value="logout")
  div
  form(method="post" action="/addpost")
    h2 Tell me your mind!
    div
      label Lay it on me -->
        input(type="text" name="postText" placeholder="  fishy fishy fishy fish ")
        input(type="submit" value="Learnin the piano")


  div.posttitle Current Posts
  each post in posts
   p.username= post.username
     span.postbody= post.body
     span.postdate= post.posted_at
   